<html>

<head>
    <meta charset="utf-8">
    <title>Carental</title>
    <link type="text/css" rel="stylesheet" href="/styles/index.css">
</head>

<body>

    <div class="wrap">
        <div class="header">
            <div class="logo">
                <img src="/assets/images/logo.png" alt="Carental Logo">
            </div>
            <nav class="nav-links">
                <a href="#">Home</a>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
                <a href="#">Login/Signup</a>
            </nav>
        </div>

        <div class="main">
            <div class="sidebar">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus tempora, ea veniam assumenda
                exercitationem vel, iure eligendi saepe rem perferendis provident obcaecati necessitatibus vero dolore,
                aperiam quod molestiae inventore amet.
            </div>

            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt sint sed non accusamus? Unde laudantium
                eligendi, autem quae commodi accusantium, totam sunt mollitia odit deserunt rem obcaecati, numquam officiis
                consequuntur!
            </div>
        </div>

        <div class="footer">
            Footer
        </div>

    </div>
</body>

</html>