<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carental - Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/auth.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <a href="./index.html"><img src="../assets/images/logo.png" alt="Logo"></a>
            </div>
            <nav class="nav-links">
                <a href="./index.html">Home</a>
                <!-- <a href="./register.html">Register</a> -->
            </nav>
        </div>

        <div class="auth-container">
            <div class="auth-box">
                <h2>Welcome Back!</h2>
                <p class="subtext">Login to continue renting cars.</p>
                <form id="loginForm">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input id="email" type="email" name="email" placeholder="Enter your email" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" required>
                        <p class="error-message" id="email-error"></p>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input id="password" type="password" name="password" min="3" placeholder="Enter your password" required>
                        <p class="error-message" id="password-error"></p>
                    </div>
                    <button type="submit">Login</button>
                    <p class="error-message" id="error-message"></p>
                    <p class="switch-page">Not registered? <a href="./register.html">Sign up here</a></p>
                </form>
            </div>
        </div>

        <div class="footer">
            &copy; 2025 Car Rental. All rights reserved.
        </div>
    </div>

    <script type="module" defer src="/js/app/login.js"></script>
</body>

</html>
