<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"
        integrity="sha512-a+SUDuwNzXDvz4XrIcXHuCf089/iJAoN4lmrXJg18XnduKK6YlDHNRalv4yd1N40OKI80tFidF+rqTFKGPoWFQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/udashboard.css">
</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <a href="./index.html"><img src="../assets/images/logo.png" alt="Logo"></a>
            </div>
            <nav class="nav-links">
                <a href="./index.html">Home</a>
                <a href="./odashboard.html" id="owner-dashboard-link">Owner Dashboard</a>
                <a href="#" id="logout-link">Logout</a>
            </nav>
        </div>

        <div class="main">
            <div class="sidebar">
                <h3>User Dashboard</h3>
                <ul>
                    <li><a href="./udashboard.html">🏠 Dashboard</a></li>
                    <li><a href="./view-ubooking.html">📅 My Bookings</a></li>
                    <li><a href="./view-umessages.html">✉️ My Messages</a></li>
                    <li><a href="./mybiddings.html">💰 My Biddings</a></li>
                </ul>
            </div>

            <div class="content">
                <section class="content">
                    <div class="user-profile">
                        <h3>Profile Information</h3>

                        <div class="profile-item">
                            <label>Username</label>
                            <input type="text" id="username" disabled>
                        </div>

                        <div class="profile-item">
                            <label>Email</label>
                            <input type="email" id="email" disabled>
                        </div>

                        <div class="profile-item">
                            <label>Average Rating</label>
                            <p id="avgRating"></p>
                        </div>

                        <div class="profile-item">
                            <label>Rating Count</label>
                            <p id="ratingCount"></p>
                        </div>

                        <div class="profile-item">
                            <label>Verification File</label>
                            <div id="verificationFile"></div>
                        </div>
                        <h3>Change Password:</h3>
                        <div class="profile-item">
                            <label>Old Password</label>
                            <input type="password" id="old-password" placeholder="Enter old password">
                            <small class="error-message" id="old-password-error"></small>
                        </div>

                        <div class="profile-item hidden" id="new-password-container">
                            <label>New Password</label>
                            <input type="password" id="new-password" placeholder="Enter new password" minlength="8"
                                pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
                            <small class="error-message" id="new-password-error"></small>
                            <button id="update-password">Update Password</button>
                        </div>
                    </div>
                </section>

            </div>
        </div>

        <div class="footer">
            &copy; 2025 Car Rental. All rights reserved.
        </div>
    </div>

    <script type="module" src="../js/app/udashboard.js">
        
    </script>
</body>

</html>