body { 
    margin:0; 
    padding:0; 
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header { 
    height: 80px;
    margin-bottom: 15px;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo img {
    height: 60px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    width: 100%;
    max-width: 275px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 295px);
    max-width: 825px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 20px;
}

.footer {
    height: 70px;
    margin-top: 15px;
    background-color: #0d7963;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    .content, .sidebar {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .header, .footer {
        height: auto;
        padding: 10px;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }
}